:root{
    --main-color:#4c2dff;
    --hover-color:#3f1dff;
    --second-color:#8e8dbf;
}

body{
    padding: 50px;
    margin: 0;
}

.slider{
    width: 100rem;
    height: 50rem;
    border: solid 1px var(--second-color);
    overflow: hidden;
}

.slide{
    background-color: var(--second-color);
    border-radius: 30px;
    width: 700px;
    height: 300px;
}